body {
   background-color: #EEE8DC;
}

.jumbotron.hero {
  background-color: white;
}

.container {
  padding: 32px;
  border-radius: 4px;
  margin-top: 24px;
}

.container.general {
  background-color: #CA6C2F;
  color: white;
}

.container.vowels {
  background-color: #EDBA29;
}

.container.consonants {
  background-color: #6EBCBE;
}

.set {
  display: flex;
  flex-wrap: wrap;
  margin: 16px -4px 0 -4px;
}
.letter-card {
  padding: 4px 24px 16px 24px;
  margin: 4px;
  max-width: 200px;
  min-width: 120px;
  flex-grow: 1;
  background-color: white;
  border-radius: 4px;
  text-align: center;
}

.letter-card .letter {
  font-size: 48px;
  font-weight: 100;
}
.letter-card .helper {
  font-size: 14px;
  color: #787878;
  margin-top: 4px;
}



/****************** utilities ***********************/
