html {
  height: 100%;
}

body {
  position: fixed;
  font-family: sans-serif;
  color: #2c3e50;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.note {
  display: flex;
  font-size: 24px;
  text-align: center;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 2em;
}

.note .name {
  display: flex;
  flex-flow: column wrap;
  height: 80px;
  width: 80px;
  background-color: lightgreen;
  transition: all 100ms ease;
}

.note .name.sharp {
  background-color: violet;
}
.note .name.flat {
  background-color: coral;
}

.note .name-letter {
  font-size: 60px;
}

.note .frequency {
  margin-top: 1em;
}
.note .cents {
  font-size: 20px;
}



.frequency-bars {
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  .meter {
    width: 100%;
  }

  .notes {
    width: 100%;
  }
}
