.lily .cls-1, .lily .cls-2 {
	fill: none;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke-dasharray: 88% 12%;
	stroke: #fff;
	animation-delay: -1s;
}

.text-copy:nth-child(2){
	stroke-dasharray: 16% 2%;
	stroke: #cb081a;
	animation-delay: -2s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -32%;}
}